/*页面头部*/
#hd{  height:74px;background-color: #00B5B3;}
#hd .hd-wrap{ position:relative;height:74px; background:url(../images/topline.png) no-repeat left bottom;}
#hd .hd-wrap .top-light{ position:absolute; width:346px; height:74px; background:url(../images/toplight.png); top:0; left:0;}
.logo{ 
    float:left;
    margin:10px 0 0 24px;
    width:246px;
    height:54px;
    position:relative;
    top:1px;
    font-size: 30px;
    color: #ffffff;
}
.login-info{ float:right; margin:38px 20px 0 23px; height:18px;}
.login-info .welcome{ float:left; padding-left:20px; width:120px; height:18px; line-height:18px; background:url(../images/topuser.png) no-repeat left bottom; font-size:14px; color:#fff;}
.login-info .welcome span{ float:left;}
.login-info .welcome .user-name{ float:left; color:#fff;}
.login-info .login-msg{ float:left; margin-left:22px;}
.login-info .login-msg a{ float:left; height:18px; line-height:18px;}
.login-info .login-msg a.msg-txt{ float:left; padding-left:20px; width:48px; background:url(../images/topmail.png)no-repeat left center; color:#fff; font-size:14px;}
.login-info .login-msg a.msg-num{ float:left; width:16px; height:9px; margin:6px 0 0 4px; background:url(../images/countbg.png); color:#fff; line-height:9px; font-size:9px; text-align: center;}
.toolbar{ float:right; margin:20px 14px 0 0;}
.toolbar a{ float:left; height:42px; line-height:42px;}
.toolbar a.home-btn{ width:40px; margin-right:10px; background:url(../images/home.png)no-repeat left top; color:#fff; font-size:14px;}
.toolbar a.quit-btn{ width:39px; background:url(../images/exit.png) no-repeat left top;}
